<header class="navigation" role="banner">
	<div class="navigation-wrapper">
		<div class="header-logo">
    <a href="{{ site.baseurl }}/" class="logo">
      <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
    </a>
		</div>
    <div class="site-branding">
			<h1 class="title">{{ site.title }}</h1>
    </div>
		<div class="link-vv">
			<a href="http://www.voisinsvigilants.org">
				<span class="logo-responsive">Accéder au site voisinsvigilants.org
					</span>
			</a>
		</div>
  </div>
</header>
