---
layout: default
---
<div class="wrapper">
	<div class="page">

		<header class="post-header">
			<h1 class="post-title">Articles ayant comme tags : "{{ page.title | capitalize }}"</h1>
		</header>

		{% include page_divider.html %}

		<article class="post-content">
			<ul class="posts-list">
				<p>{{page}}</p>
				<p>-->{{site}}<--</p>
				{% for post in site.tags[page.tag] %}
				<li><strong><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title
					}}</a></strong><span class="post-date"> - Posté le {% assign m = post.date | date: "%-m" %}
{{ post.date | date: "%-d" }}
{% case m %}
  {% when '1' %}Janvier
  {% when '2' %}Février
  {% when '3' %}Mars
  {% when '4' %}Avril
  {% when '5' %}Mai
  {% when '6' %}Juin
  {% when '7' %}Juillert
  {% when '8' %}Août
  {% when '9' %}Septembre
  {% when '10' %}October
  {% when '11' %}Novembre
  {% when '12' %}Decembre
{% endcase %} {{ post.date | date: "%Y" }}</span></li>
				{% endfor %}
			</ul>
		</article>

	</div>
</div>
<br>
