.site-branding {
    // float: right;
}
.link-vv {
    //font-family: 'calibri';
		font-family: 'Courgette', cursive;
    text-align: right;
    font-size: small;    
}

.link-vv a {
  color: $dark-gray;
  text-decoration: underline;
  // transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($dark-gray, 10%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}    

.title{
  font-family: 'Courgette', cursive;
  font-size: 2.1rem;
  font-weight:200;
}

.videocontent{
	width: 100%;
	max-width: 736px;
	margin: 0 auto;
}

.video-vv{
	width: 100%;
	max-width: 736px;
	max-height: 437px !important;

	button{
		background-color: #ff3030 !important;
		border: #ff3030 !important;
	}

	button:hover{
		border: #ff3030 !important;
		background-color: #ff3030 !important;
	}
}

.iframe-video{
	width: 100%;
	max-width: 736px;
	height: 437px;
}

h1.title{
	font-family: 'Lobster', cursive;
	font-size: 2.1rem;
	font-weight:200;
	color: #000;
	line-height: 1em;
	padding-top: 25px;
}

h2{
	line-height: 1.1em;
}

.site-header{
	text-align: center;
	.subtitle{
		font-size: 1.5rem;
		font-weight:200;
	}

}

@media (max-width: 755px) {
	.video-vv{
			height: 150px;
	}

	.iframe-video{
		width: 230px;
		height: 159px;
	}

	.logo{
		width: 120px;
	}

	.logo-responsive{
		display: none;
	}

	h2{
		font-size: 1.4em;
		line-height: 1.15;
	}

	h1{
		font-size: 1.5em;
	}

}

.site-footer{
	.subtitle{
		font-size: 1em;
		margin-bottom: 0px;
	}
	h3.footer-heading{
		font-size: 1em;
		margin-bottom: 5px;
	}
}

.post-excerpt{
	p{
		text-align: justify;
	}
}


